<html>
<head>
  <script type="text/javascript">
    var b = null
    function checkProductSelection(){
        if (b.value == 'Add')
            return true
        var radios = document.getElementsByTagName('input');
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].type === 'radio' && radios[i].checked) {
                if (b.value == 'Delete'){
                    return confirm("Are you sure you want to delete the selected product?")
                }
                return true
            }
        }

        alert("You must select a product first")
        return false
    }

  </script>
</head>
 <body style="text-align: center;">

   <h1>Product Administration</h1>

   <a href="/">Home Page</a>
   <br/>
   <br/>
   Search for the products you want to add, edit or delete

   <br/><br/>
   <form action='/admin' method='post'>
     <input type='text' name='search_term' value="<%=@text%>">

     <select name="category">
       <option value="0">ALL</option>
       <% @categories.each_pair do |category_id, category_name| %>
         <option value="<%=category_id %>"><%= category_name %></option>
       <% end %>
     </select>

     <input type='submit' name='submit' value='Search Catalogue'/>

   </form>

<table border="1" cellpadding="5" align="center">
  <% if @array.length != 0%>
  <tr>
    <td colspan="5" align="right">
      <form action="/admin" method= "post">
        Sort by:
        <select name="order" onchange="document.forms[1].submit()">
          <option value="idlow" <%='selected="true"' if params[:order]=='idlow'%>>ID: low to high</option>
          <option value="idhigh" <%='selected="true"' if params[:order]=='idhigh'%>>ID: high to low</option>
          <option value="namelow" <%='selected="true"' if params[:order]=='namelow'%>>Name: A to Z</option>
          <option value="namehigh" <%='selected="true"' if params[:order]=='namehigh'%>>Name: Z to A</option>
        </select>
        <input type='hidden' name='search_term' value="<%=params[:search_term]%>">
        <input type='hidden' name='category' value="<%=params[:category]%>">
      </form>
    </td>
  </tr>
<form action="/productform" method="post" onsubmit="return checkProductSelection()">
 <tr align="left">
      <th>ID  </th>
      <th>Barcode  </th>
      <th>Name  </th>
      <th>Description  </th>
      <th>Category  </th>
    </tr>
  <%end%>

<% @array.each do | product |%>
<tr>
  <td><input type="radio" name="product" value="<%=product.id %>" /> <%=product.id %> </td>
  <td><%= product.barcode %> </td>
  <td><%= product.name %> </td>
  <td><%= product.description %> </td>
  <td><%= settings.my_category.get_category(product.category_id.to_i) %> </td>
</tr>
<%end%>

</form>

</table>
  <br/>
      <input type='submit' name='submitBtn' onclick="b=this" value='Add'/>
      <input type='submit' name='submitBtn' onclick="b=this" value='Edit'/>
      <input type='submit' name='submitBtn' onclick="b=this" value='Delete'/>
   <input type='hidden' name='search_term' value="<%=params[:search_term]%>">
   <input type='hidden' name='category' value="<%=params[:category]%>">
 </body>
</html>
