<html>
 <body>
 <h2 align="center"> Product Description</h2>
 <table border="1" align="center">
   <tr>
        <td>Name: </td>
        <td>Price:</td>
        <td>Brand: </td>
        <td>Category:</td>
        <td>Location:</td>
        <td>Product id:</td>
        <td>Product Barcode:</td>
        <td>Quantity: </td>
   </tr>
   <tr>
     <td><%= @product.name %></td>
     <td>£<%= "%.2f" % @product.price %>  </td>
     <td><%= @product.brand %></td>
     <td>
       <%= settings.my_category.get_category(@product.category_id.to_i) %>
     </td>
     <td> <%= @product.location %>    </td>
     <td>    <%=@product.id %>     </td>
     <td><%=@product.barcode %>   </td>
     <td>
       <%= settings.my_storage.get_quantity(@product.id) %>
     </td>
   </tr>

   <tr align="center">
     <td colspan="4" height="80">Picture:  <img src="/images/<%= if File.exist?('../html/images/'+@product.picture) then @product.picture else 'nf.jpg' end %>" align="center" height="150"/> </td>


     <td colspan="4">Description: <%= @product.description %></td>
   </tr>
   </table>

 <br/><center><input type="button" value='Go Back' onclick="javascript:history.go(-1)"></center>
 </body>
</html>