<html>
 <body>
   ID: <%= @product.id %> <br/>
   Barcode: <%= @product.barcode %> <br/>
   Name: <%= @product.name %> <br/>
   Brand: <%= @product.brand %> <br/>
   Description: <%= @product.description %> <br/>
   Category: <%= @product.category %> <br/>
   Price: <%= @product.price %> <br/>
   Picture: <%= @product.picture %> <br/>
   Location: <%= @product.location %> <br/>
 </body>
</html>